/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#txt_manhanvien,
#txt_password{
	-fx-background-color : transparent;
	-fx-border-color : transparent transparent rgb(121,217,225) transparent;
	-fx-border-width : 1px;
	-fx-text-fill : white;
}
#lbl_manhanvien,
#lbl_password{
	-fx-text-fill : rgb(121,217,225);
}
#btn_dangnhap{
	-fx-background-color: rgb(121,217,225);
	-fx-text-fill: white;
}